<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <Meta http-equiv="Refresh" Content="3600; Url=kingdee.do?cmd=caigou"> -->
<title>Insert title here</title>
<style type="text/css">
a{TEXT-DECORATION:none}
</style>
</head>
<body>
<font style="font-size:12px">
<table cellpadding="5" cellspacing="0" border="0">
	<tr>
		<td align="right">外购交期：</td>
		<td>超过交期：<a href="kingdee.do?cmd=page_list_wgwzdj&status=-1" target="_blank"><font color="blue">$!overr</font></a>&nbsp;张&nbsp;|&nbsp;今天：<a href="kingdee.do?cmd=page_list_wgwzdj&status=0" target="_blank"><font color="blue">$!today</font></a>&nbsp;张&nbsp;|&nbsp;1天：<a href="kingdee.do?cmd=page_list_wgwzdj&status=1" target="_blank"><font color="blue">$!one</font></a>&nbsp;张&nbsp;|&nbsp;2天：<a href="kingdee.do?cmd=page_list_wgwzdj&status=2" target="_blank"><font color="blue">$!two</font></a>&nbsp;张&nbsp;|&nbsp;3天：<a href="kingdee.do?cmd=page_list_wgwzdj&status=3" target="_blank"><font color="blue">$!three</font></a>&nbsp;张&nbsp;|&nbsp;4天后：<a href="kingdee.do?cmd=page_list_wgwzdj&status=4" target="_blank"><font color="blue">$!four</font></a>&nbsp;张</td>
	</tr>
	<tr>
		<td align="right">外协交期：</td>
		<td>超过交期：<a href="kingdee.do?cmd=page_list_wxwzdj&status=-1" target="_blank"><font color="blue">$!wxoverr</font></a>&nbsp;张&nbsp;|&nbsp;今天：<a href="kingdee.do?cmd=page_list_wxwzdj&status=0" target="_blank"><font color="blue">$!wxtoday</font></a>&nbsp;张&nbsp;|&nbsp;1天：<a href="kingdee.do?cmd=page_list_wxwzdj&status=1" target="_blank"><font color="blue">$!wxone</font></a>&nbsp;张&nbsp;|&nbsp;2天：<a href="kingdee.do?cmd=page_list_wxwzdj&status=2" target="_blank"><font color="blue">$!wxtwo</font></a>&nbsp;张&nbsp;|&nbsp;3天：<a href="kingdee.do?cmd=page_list_wxwzdj&status=3" target="_blank"><font color="blue">$!wxthree</font></a>&nbsp;张&nbsp;|&nbsp;4天后：<a href="kingdee.do?cmd=page_list_wxwzdj&status=4" target="_blank"><font color="blue">$!wxfour</font></a>&nbsp;张</td>
	</tr>
	<tr>
		<td align="right">外购及时率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_wgjsl&status=0" target="_blank"><font color="blue">$!wgzs</font></a>&nbsp;张&nbsp;|&nbsp;按时：<a href="kingdee.do?cmd=page_list_wgjsl&status=1" target="_blank"><font color="blue">$!wgasdh</font></a>&nbsp;张&nbsp;|&nbsp;未按时：<a href="kingdee.do?cmd=page_list_wgjsl&status=2" target="_blank"><font color="blue">$!wgwasdh</font></a>&nbsp;张&nbsp;|&nbsp;及时率：<font color="blue">$!wgjsl</font>&nbsp;%</td>
	</tr>
	<tr>
		<td align="right">外购合格率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_wghgl&status=0" target="_blank"><font color="blue">$!pczs</font></a>&nbsp;批&nbsp;|&nbsp;合格：<a href="kingdee.do?cmd=page_list_wghgl&status=1" target="_blank"><font color="blue">$!hgs</font></a>&nbsp;批(<font color="blue">$!hgl</font>&nbsp;%)&nbsp;|&nbsp;不合格：<a href="kingdee.do?cmd=page_list_wghgl&status=2" target="_blank"><font color="blue">$!bhgs</font></a>&nbsp;批&nbsp;|&nbsp;让步接收：<a href="kingdee.do?cmd=page_list_wghgl&status=3" target="_blank"><font color="blue">$!rbjss</font></a>&nbsp;批(<font color="blue">$!rbjsl</font>&nbsp;%)&nbsp;|&nbsp;拒收：<a href="kingdee.do?cmd=page_list_wghgl&status=4" target="_blank"><font color="blue">$!jss</font></a>&nbsp;批(<font color="blue">$!jsl</font>&nbsp;%)</td>
	</tr>
	<tr>
		<td align="right">外协及时率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_wxjsl&status=0" target="_blank"><font color="blue">$!wxzs</font></a>&nbsp;张&nbsp;|&nbsp;按时：<a href="kingdee.do?cmd=page_list_wxjsl&status=1" target="_blank"><font color="blue">$!wxasdh</font></a>&nbsp;张&nbsp;|&nbsp;未按时：<a href="kingdee.do?cmd=page_list_wxjsl&status=2" target="_blank"><font color="blue">$!wxwasdh</font></a>&nbsp;张&nbsp;|&nbsp;及时率：<font color="blue">$!wxjsl</font>&nbsp;%</td>
	</tr>
	<tr>
		<td align="right">外协合格率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_wxhgl&status=0" target="_blank"><font color="blue">$!wxpczs</font></a>&nbsp;批&nbsp;|&nbsp;合格：<a href="kingdee.do?cmd=page_list_wxhgl&status=1" target="_blank"><font color="blue">$!wxhgs</font></a>&nbsp;批(<font color="blue">$!wxhgl</font>&nbsp;%)&nbsp;|&nbsp;不合格：<a href="kingdee.do?cmd=page_list_wxhgl&status=2" target="_blank"><font color="blue">$!wxbhgs</font></a>&nbsp;批&nbsp;|&nbsp;让步接收：<a href="kingdee.do?cmd=page_list_wxhgl&status=3" target="_blank"><font color="blue">$!wxrbjss</font></a>&nbsp;批(<font color="blue">$!wxrbjsl</font>&nbsp;%)&nbsp;|&nbsp;拒收：<a href="kingdee.do?cmd=page_list_wxhgl&status=4" target="_blank"><font color="blue">$!wxjss</font></a>&nbsp;批(<font color="blue">$!wxjushoulv</font>&nbsp;%)</td>
	</tr>
	<tr>
		<td align="right">委外接收待审：</td>
		<td><a href="kingdee.do?cmd=page_list_wwjsds" target="_blank"><font color="blue">$!wwjss</font></a>&nbsp;项&nbsp;(<a href="kingdee.do?cmd=page_list_scrw_tqja" target="_blank"><font color="blue">$!{scrwwjsyja}</font></a>项已结案)</td>
	</tr>
</table>
</font>
</body>
</html>