<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
#parse("/link_share.html")
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsdd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsck_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_fhtz_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsfp_simple.js"></script>
</head>
<body>
<script type="text/javascript">
	Ext.onReady(function(){
		Ext.QuickTips.init();
		Ext.Ajax.timeout = 10 * 60 * 1000;// 10分钟，默认为30秒  设置加载数据超时最大值
		var panel = new SellOrderListPanel({id:'list_xsdd',title:'销售订单维护',iconCls:'gridIcon'});
		panel.store.paramNames.sort="orderBy";
	 	panel.store.paramNames.dir="orderType";							
	 	panel.store.baseParams['begin']='2000-01-01';	    
	    panel.store.baseParams['end']='2099-12-31';	    
	    panel.store.baseParams['status']='';
	    panel.store.baseParams['query']='$!FOrderID';
		var frame = new Ext.Viewport({
			layout:'fit',
			items:[panel]
		});
		panel.store.load();
	});
</script>
</body>
</html>