<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>销售无单价订单明细</title>
#parse("/link_share.html")
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsdd_wdj.js"></script>
</head>
<body>
<script type="text/javascript">
	
	Ext.onReady(function(){
		Ext.QuickTips.init();
		Ext.Ajax.timeout = 10 * 60 * 1000;// 10分钟，默认为30秒  设置加载数据超时最大值
		
		var panel=new XsddwdjListPanel({title:''});
		var frame = new Ext.Viewport({layout:"fit",items:[panel]}); 
		
		panel.store.load();
	});
</script>
</body>
</html>