<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<Meta http-equiv="Refresh" Content="3600; Url=kingdee.do?cmd=pinzhi">
<title>Insert title here</title>
<style type="text/css">
a{TEXT-DECORATION:none}
</style>
</head>
<body>
<font style="font-size:12px">
<table cellpadding="5" cellspacing="0" border="0">
	<tr>
		<td align="right">交期提醒：</td>
		<td>昨天和今天还有：<a href="kingdee.do?cmd=page_list_cpjywzdj" target="_blank"><font color="blue">$!cptoday</font></a>&nbsp;张产品检验申请单&nbsp;、&nbsp;<a href="kingdee.do?cmd=page_list_wgjywzdj" target="_blank"><font color="blue">$!wgtoday</font></a>&nbsp;张外购检验申请单&nbsp;、&nbsp;<a href="kingdee.do?cmd=page_list_wwjywzdj" target="_blank"><font color="blue">$!wwtoday1</font></a>&nbsp;张委外检验申请单没有处理！<a href="kingdee.do?cmd=page_list_wxsjyc" target="_blank"><font color="blue">$!wxsjycs</font></a>&nbsp;张外协送检异常！</td>
	</tr>
	<tr>
		<td align="right">产品及时率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_cpjyjsl&status=0" target="_blank"><font color="blue">$!cpjyzs</font></a>&nbsp;张&nbsp;|&nbsp;按时：<a href="kingdee.do?cmd=page_list_cpjyjsl&status=1" target="_blank"><font color="blue">$!cpjyasjh</font></a>&nbsp;张&nbsp;|&nbsp;未按时：<a href="kingdee.do?cmd=page_list_cpjyjsl&status=2" target="_blank"><font color="blue">$!cpjywasjh</font></a>&nbsp;张&nbsp;|&nbsp;及时率：<font color="blue">$!cpjyjsl</font>&nbsp;%</td>
	</tr>
	<tr>
		<td align="right">外购及时率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_wgjyjsl&status=0" target="_blank"><font color="blue">$!wgjyzs</font></a>&nbsp;张&nbsp;|&nbsp;按时：<a href="kingdee.do?cmd=page_list_wgjyjsl&status=1" target="_blank"><font color="blue">$!wgjyasjh</font></a>&nbsp;张&nbsp;|&nbsp;未按时：<a href="kingdee.do?cmd=page_list_wgjyjsl&status=2" target="_blank"><font color="blue">$!wgjywasjh</font></a>&nbsp;张&nbsp;|&nbsp;及时率：<font color="blue">$!wgjyjsl</font>&nbsp;%</td>
	</tr>
	<tr>
		<td align="right">外协及时率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_wwjyjsl&status=0" target="_blank"><font color="blue">$!wwjyzs</font></a>&nbsp;张&nbsp;|&nbsp;按时：<a href="kingdee.do?cmd=page_list_wwjyjsl&status=1" target="_blank"><font color="blue">$!wwjyasjh</font></a>&nbsp;张&nbsp;|&nbsp;未按时：<a href="kingdee.do?cmd=page_list_wwjyjsl&status=2" target="_blank"><font color="blue">$!wwjywasjh</font></a>&nbsp;张&nbsp;|&nbsp;及时率：<font color="blue">$!wwjyjsl</font>&nbsp;%</td>
	</tr>
</table>
</font>
</body>
</html>