<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<Meta http-equiv="Refresh" Content="1800; Url=kingdee.do?cmd=zhizao">
<title>Insert title here</title>
<style type="text/css">
a{TEXT-DECORATION:none}
</style>
</head>
<body>
<font style="font-size:12px">
<table cellpadding="5" cellspacing="0" border="0">
	<tr>
		<td align="right">交期提醒：</td>
		<td>3天内交货的任务单还有：<a href="kingdee.do?cmd=page_list_scrwwzdj" target="_blank"><font color="blue">$!scrwtx</font></a>&nbsp;张！</td>
	</tr>
	<tr>
		<td align="right">任务达成率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_scrwdcl&status=0" target="_blank"><font color="blue">$!scrwzs</font></a>&nbsp;张&nbsp;|&nbsp;按时：<a href="kingdee.do?cmd=page_list_scrwdcl&status=1" target="_blank"><font color="blue">$!scrwasjh</font></a>&nbsp;张&nbsp;|&nbsp;未按时：<a href="kingdee.do?cmd=page_list_scrwdcl&status=2" target="_blank"><font color="blue">$!scrwwasjh</font></a>&nbsp;张&nbsp;|&nbsp;及时率：<font color="blue">$!scrwjsl</font>&nbsp;%</td>
	</tr>
	<tr>
		<td align="right">产品合格率：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_cphgl&status=0" target="_blank"><font color="blue">$!cppczs</font></a>&nbsp;批&nbsp;|&nbsp;合格：<a href="kingdee.do?cmd=page_list_cphgl&status=1" target="_blank"><font color="blue">$!cphgs</font></a>&nbsp;批(<font color="blue">$!cphgl</font>&nbsp;%)&nbsp;|&nbsp;不合格：<a href="kingdee.do?cmd=page_list_cphgl&status=2" target="_blank"><font color="blue">$!cpbhgs</font></a>&nbsp;批&nbsp;|&nbsp;让步接收：<a href="kingdee.do?cmd=page_list_cphgl&status=3" target="_blank"><font color="blue">$!cprbjss</font></a>&nbsp;批(<font color="blue">$!cprbjsl</font>&nbsp;%)&nbsp;|&nbsp;拒收：<a href="kingdee.do?cmd=page_list_cphgl&status=4" target="_blank"><font color="blue">$!cpjss</font></a>&nbsp;批(<font color="blue">$!cpjsl</font>&nbsp;%)</td>
	</tr>
	<tr>
		<td align="right">未结案的任务单：</td>
		<td>总数：<a href="kingdee.do?cmd=page_list_scrw_wja" target="_blank"><font color="blue">$!wjarwd</font></a>&nbsp;张</td>
	</tr>
</table>
</font>
</body>
</html>