<link rel="stylesheet" type="text/css" href="plugins/extjs/ext-3.2/resources/css/ext-all.gzcss" />
<link rel="stylesheet" type="text/css" href="plugins/extjs/ext-3.2/examples/ux/css/ux-all.gzcss" />
<!-- link rel="stylesheet" type="text/css" href="plugins/extjs/ext-3.2/resources/css/xtheme-gray.gzcss" /-->
<script type="text/javascript" src="plugins/extjs/ext-3.2/adapter/ext/ext-base.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/ext-3.2/ext-all.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/ext-3.2/examples/ux/ux-all.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/easyjf/core.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/ComboBoxTree.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/RowExpander.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/SearchField.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/global.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/querywindow.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/querypanel.gzjs"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/DynamicGrid.gzjs"></script>
<script type="text/javascript">
	Ext.BLANK_IMAGE_URL = 'plugins/extjs/ext-3.2/resources/images/default/s.gif';
	Ext.chart.Chart.CHART_URL = 'plugins/extjs/ext-3.2/resources/charts.swf';

	/*
	 * 根据不同的分辨率调整表格pageSize
	 */
	var pgSize=20;
	var iframeWidth = 780;
	var iframeHeight = 600;
	if(1024<=screen.height){
		pgSize=32;
		iframeHeight = 720;
	}else if(1024>screen.height&&900<=screen.height){
		pgSize=26;
		iframeHeight = 600;
	}else if(900>screen.height&&800<=screen.height){
		pgSize=21;
		iframeHeight = 500;
	}else if(800>screen.height&&768<=screen.height){
		pgSize=20;
		iframeHeight = 400;
	}

	//pgSize=2000;
	
	
	if(1440<=screen.width){
		iframeWidth = 1280;
	}else if(1360<screen.width&&1440>=screen.width){
		iframeWidth = 1120;
	}else if(1280<screen.width&&1360>=screen.width){
		iframeWidth = 1024;
	}else if(1024<screen.width&&1280>=screen.width){		
		iframeWidth = 980;
	}else if(1024>=screen.width){		
		iframeWidth = 780;
	}

	// 自定义条件的记录格式
	var Row = Ext.data.Record.create([
	    {name: 'join', type: 'string'},
	    {name: 'item', type: 'string'},
	    {name: 'expression', type: 'string'},
	    {name: 'value', type: 'string'}		       
	]);

	//计算当前日期+N天后的日期
	function CurrentDateAddDay(n){
		var s, d, t, t2;
		t = new Date().getTime();
		t2 = n * 1000 * 3600 * 24;
		t+= t2;
		d = new Date(t);
		s = d.getUTCFullYear() + "-";
		s += ("00"+(d.getUTCMonth()+1)).slice(-2) + "-";
		s += ("00"+d.getUTCDate()).slice(-2);
		return s;
	} 
		
</script>
<style type="text/css">
	.pluginIcon{
   	   background-image:url(images/fam/plugin.gif) !important;
	}
	.cmpIcon{
   	   background-image:url(images/fam/cmp.gif) !important;
	}
	.applicationIcon{
	   background-image:url(images/fam/application_go.gif) !important;
	}
	.connectIcon{
	   background-image:url(images/fam/connect.gif) !important;
	}
	.commentIcon{
	   background-image:url(images/fam/user_comment.png) !important;
	}
	.cogIcon{
	   background-image:url(images/fam/cog.png) !important;
	}
	.cogeditIcon{
	   background-image:url(images/fam/cog_edit.gif) !important;
	}
	.gridIcon{
	   background-image:url(images/fam/grid.png) !important;
	}
	.itemsIcon{
	   background-image:url(images/fam/list-items.gif) !important;
	}
	.docsIcon{
	   background-image:url(images/fam/docs.gif) !important;
	}
	.forumIcon{
	   background-image:url(images/fam/forum.gif) !important;
	}
	.exampleIcon{
	   background-image:url(images/fam/example.gif) !important;
	}
	.userIcon{
		background-image:url(images/fam/user.gif) !important;
	}
	.addIcon{
		background-image:url(images/fam/add.gif) !important;
	}
	.saveIcon{
		background-image:url(images/fam/save.gif) !important;
	}
	.deleteIcon{
		background-image:url(images/fam/delete.gif) !important;
	}
	.toolsIcon{
		background-image:url(images/fam/folder_wrench.gif) !important;
	}
	.homeIcon{
		background-image:url(images/fam/home.gif) !important;
	}
	.qiehuanIcon{
		background-image:url(images/fam/qiehuan.gif) !important;
	}
	.logoutIcon{
		background-image:url(images/fam/logout.gif) !important;
	}
	.usersIcon{
		background-image:url(images/fam/users.gif) !important;
	}
	.refreshIcon{
		background-image:url(images/fam/table_refresh.gif) !important;
	}
	.gearsIcon{
		background-image:url(images/fam/gears.png) !important;
	}
	.editIcon{
		background-image:url(images/fam/edit.gif) !important;
	}
	.yanshiIcon{
		background-image:url(images/fam/yanshi.png) !important;
	}
	.bookopenIcon{
		background-image:url(images/fam/book_open.gif) !important;
	}
	.uploadIcon{
		background-image:url(images/fam/box_upload.png) !important;
	}
	<!-- 用于表单横向布局 -->
	.allow-float {clear:none!important;} /* 允许该元素浮动 */
	.stop-float {clear:both!important;} /* 阻止该元素浮动 */
	.sex-male {float:left;}
	.sex-female {float:left;padding:0 0 0 0;}
	.age-field {float:left;padding:0 0 0 58px;*padding:0 0 0 50px!important;*padding:0 0 0 50px;}
	.template-btn {float:left;margin:0 10px 0 10px;}
</style>