<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>K3平台</title>
#parse("/link_share.html")
<script type="text/javascript" src="plugins/extjs/rss/frame/framepanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/frame/publicpanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/user/userpanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/workplan/workplanpanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_xsddhztj.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_xsckhztj.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_xsfphztj.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_scxh.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_scxhhz.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_wwgxzxgzb.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsdd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsdd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsck.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsck_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_fhtz.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_fhtz_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsfp.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsfp_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xsfp_djcy.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_scrw.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_scrw_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_scll_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_sctl_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_scbf_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cprk_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwzc_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwzc.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwjy_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwjy.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwjs_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwjs.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/form_wwjysqd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wwjysqd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/taskplan/list_task.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_task_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_aqkc.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cgsq.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cgdd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cgdd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cgsq_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_lljysqd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_shd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_lljyd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wgrk_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_shd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_lljysqd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_lljyd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_wgrk.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_stjgrk.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cpjyd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cpjyd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cpjysqd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cpjysqd_simple.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/form_cpjyd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/frame/loginwindow.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_xswkp.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_cgwkp.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/chart_column_xsck.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/chart_pie_xsck.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/portal_list_xsdd.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/portal_list_scrw.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/report_sczzp.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_jcwz.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_scrw_wlxh.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_jskc_lhbz.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/list_thcx.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/kingdee/form_thcx.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/share/chartpanel.js"></script>

<script type="text/javascript" src="plugins/extjs/rss/taskplan/taskformpanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/taskplan/fileuploadformpanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/equipment/equipmentpanel.js"></script>
<script type="text/javascript" src="plugins/extjs/rss/equipment/equipmentformpanel.js"></script>

<style>   
 	A:link   {color:   #000000;TEXT-DECORATION:none}   
  	A:visited   {COLOR:   #000000;TEXT-DECORATION:none}   
  	A:hover   {COLOR:   #ff3300;TEXT-DECORATION:underline} 
</style>
</head>
<body>
<div id="my-el"></div>
<div id="logo" style="font-size:12px;text-align:left;padding-top:3px">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td valign="top" >&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/rss/logo.gif" height=16 width=16 border="0"/>&nbsp;&nbsp;<font size="3"><b>重庆九环机电有限公司</b></font></td>
			<td align="right" style="font-size:12px" valign="top" id="ie">
								
				<!-- A href="javascript:window.external.addFavorite('http://open.taobao.com/win/production_detail.php?appid=19881', '回头客')"><img src="images/top#if($frameStyle)/arrow_black_gray.gif #else/arrow_black_blue.gif #end"/>&nbsp;&nbsp;&nbsp;添加收藏夹</A>&nbsp;&nbsp;-->				
				<b>|</b><A href="javascript:void(0);">&nbsp;&nbsp;界面风格</A>&nbsp;&nbsp;
				<b>|</b><A href="javascript:window.top.location='user.do?cmd=login';">&nbsp;&nbsp;用户注销</A>&nbsp;&nbsp;
				<!-- A href="javascript:window.close()" target=_top><img src="images/top#if($frameStyle)/arrow_black_gray.gif #else/arrow_black_blue.gif #end"/>&nbsp;&nbsp;&nbsp;退出系统</A>  -->
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">

	//var Monitor = {}();

	//Monitor.companyaddform = companyaddform; 
	
	var frame;

	function test(){alert('test');}
	
	Ext.onReady(function(){
		Ext.QuickTips.init();
		Ext.Ajax.timeout = 10 * 60 * 1000;// 10分钟，默认为30秒  设置加载数据超时最大值
		if(!Ext.isIE)
			document.getElementById('ie').innerHTML = '<font color=red>非IE内核</font>'+document.getElementById('ie').innerHTML;
		else
			document.getElementById('ie').innerHTML = '<font color=green>IE内核</font>'+document.getElementById('ie').innerHTML;
					/*Ext.Msg.show({
				   title:'提示',
				   msg: '当前浏览器非IE内核，建议您使用IE浏览器操作本软件！',
				   buttons:Ext.MessageBox.OK,
				   icon: Ext.MessageBox.WARNING
			});*/
		
		#if($validate)
			frame=new PublicPanel();
		#else
			frame=new PublicPanel(); 
		#end

		frame.getEl().fadeIn({remove:false,duration:1.0,easing:'easeNone'});
	});
</script>
</body>
</html>