<?xml version="1.0" encoding="gb2312"?>

<rss version="2.0">
  <channel>
    <title>新闻国内</title>
    <image>
      <title>新闻国内</title>
      <link>http://news.qq.com</link>
      <url>http://mat1.qq.com/news/rss/logo_news.gif</url>
    </image>
    <description>新闻国内</description>
    <link>http://news.qq.com/china_index.shtml</link>
    <copyright>Copyright 1998 - 2005 TENCENT Inc. All Rights Reserved</copyright>
    <language>zh-cn</language>
    <generator>www.qq.com</generator>
    <item>
      <title>中国房产新政下的楼市，买还是不买？</title>
      <link>http://news.qq.com/a/20100603/000667.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:31:41</pubDate>
      <comments/>
      <description>任志强曾调侃自己，“中国人‘最想揍的人’，第一个是小泉，第二个是陈水扁，我只能排第三。”话音刚落，在大连参加某地产论坛时，他就遭遇了“鞋袭”。</description>
    </item>
    <item>
      <title>国有资本不退，民营资本没戏</title>
      <link>http://news.qq.com/a/20100603/001683.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:27:52</pubDate>
      <comments/>
      <description>只有政府主导的国有资本真正退出，民间资本的发生和发展才有空间。</description>
    </item>
    <item>
      <title>北京最低工资标准从每月800元上调至960元</title>
      <link>http://news.qq.com/a/20100603/001690.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:22:00</pubDate>
      <comments/>
      <description>　　7月1日起，北京市最低工资标准从每月800元上调至960元。　　今天上午9点半，北京市人保局发布2010年最低工资标准调整方案，涨幅达20%，比常年平均增长比例高出近一倍。　　最低工资标准上调不会导致物价上涨　　最低工资标准上调，一些餐饮类等企业单位是否因用工成本增加而涨价？　　市人保局劳动关系处处长王彦称，</description>
    </item>
    <item>
      <title>新疆喀什设立“特区”：房价闻风飙升</title>
      <link>http://news.qq.com/a/20100603/001613.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:16:11</pubDate>
      <comments/>
      <description>自设立“特区”消息传出后，新疆喀什的房价一路飙升，三个月内涨幅约达20%-30%。</description>
    </item>
    <item>
      <title>温州公安局科长从18楼坠亡 其妻随后死于家中</title>
      <link>http://news.qq.com/a/20100603/001622.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:16:00</pubDate>
      <comments/>
      <description>中新网温州6月3日电(记者赵晔娇李飞云)6月2日下午3时许，温州泰顺县公安局出入境管理科科长林某(40岁)，从当地一幢已竣工未交付使用的某大楼楼顶18层坠楼身亡。同日下午5点半左右，林某妻子范某(40岁)被发现死于家中，体表未发现明显开口伤痕。目前，两人的死亡原因正在进一步调查中。据悉，林某生前曾多次向单位请病假，</description>
    </item>
    <item>
      <title>龙应台：谁欠了他们的人生？</title>
      <link>http://news.qq.com/a/20100603/001335.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:03:54</pubDate>
      <comments/>
      <description>所谓了解，就是知道对方心灵最深的地方的痛处，痛在哪里。</description>
    </item>
    <item>
      <title>北京失业保险金下月起上调 平均每月涨70元</title>
      <link>http://news.qq.com/a/20100603/001580.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 14:00:00</pubDate>
      <comments/>
      <description>　　本报讯(记者陶颖)7月1日起，本市失业保险金待遇上调，平均每月涨70元。　　今天上午，市人保局发布2010年失业保险金标准调整方案。据介绍，调整失业保险金标准，是为了提高失业人员收入水平，保障其基本生活。　　根据本市经济社会发展情况，失业保险金标准应低于本市最低工资标准、高于城镇居民最低生活保障标准。今</description>
    </item>
    <item>
      <title>青海玉树县发生5.3级地震 暂无伤亡报道</title>
      <link>http://news.qq.com/a/20100603/001553.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:55:00</pubDate>
      <comments/>
      <description>（图片来源：中国地震台网中心）中新网6月3日电据中国地震台网测定，北京时间2010年6月3日13时35分，在青海省玉树藏族自治州玉树县(北纬33.3，东经96.3)发生5.3级地震。</description>
    </item>
    <item>
      <title>外交部提醒入境印尼中国人注意移民部新规定</title>
      <link>http://news.qq.com/a/20100603/001539.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:51:30</pubDate>
      <comments/>
      <description>中新网6月3日电中国外交部网站3日发布消息说，日前，印度尼西亚司法与人权部移民总司发布公告，为加强安全及入境管理，印尼移民部门实行新的口岸管理系统。凡13岁以上外国来访者均有可能要求接受面部照相及指纹扫描，但持有外交、公务护照人员或持有印尼临时、长期居留证的外国公民免除生物信息采集。</description>
    </item>
    <item>
      <title>袁腾飞：我不是公共知识分子</title>
      <link>http://news.qq.com/a/20100603/001407.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:50:43</pubDate>
      <comments/>
      <description>“咱不是娱乐圈的人，也不是季羡林。”“讲的东西可能有不规范不严谨，因为我不是历史学家，一名普通的中学历史老师，带动大众去看历史了，这就算是功德事了&#8212;&#8212;就跟京剧下校园一个道理。”</description>
    </item>
    <item>
      <title>青海省玉树藏族自治州玉树县发生5.3级地震</title>
      <link>http://news.qq.com/a/20100603/001415.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:50:24</pubDate>
      <comments/>
      <description>据中国地震台网测定，北京时间2010-06-0313:35在青海省玉树藏族自治州玉树县北纬33.3,东经96.3发生5.3级地震。</description>
    </item>
    <item>
      <title>赵作海冤案是怎么形成的？</title>
      <link>http://news.qq.com/a/20100603/001189.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:37:38</pubDate>
      <comments/>
      <description>《规定》首次明确了包括“以刑讯逼供等非法手段取得的口供”等6种不能用于死刑定案的证据。</description>
    </item>
    <item>
      <title>温家宝会见缅甸国家和平与发展委员会主席</title>
      <link>http://news.qq.com/a/20100603/001322.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:37:00</pubDate>
      <comments/>
      <description>中新网内比都6月3日电(记者周兆军)中国总理温家宝3日在内比都会见了缅甸国家和平与发展委员会主席丹瑞。温家宝首先向丹瑞转达了胡锦涛主席的问候。温家宝表示，中缅山水相连，渊源深厚，两国人民有着传统“胞波”情谊。缅甸是最早同新中国建交的国家之一，两国共同倡导了和平共处五项原则。在两国老一辈领导人亲手缔造和培</description>
    </item>
    <item>
      <title>行贿了，为啥还能当人大代表？</title>
      <link>http://news.qq.com/a/20100603/001314.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:36:28</pubDate>
      <comments/>
      <description>商人何帮喜是本届全国人大代表，一份刑事判决书证明他有过多次行贿记录，但至今对他毫无影响。</description>
    </item>
    <item>
      <title>温家宝与缅甸总理会谈 如期保质建成能源项目</title>
      <link>http://news.qq.com/a/20100603/001325.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:35:00</pubDate>
      <comments/>
      <description>中新网内比都6月3日电(记者周兆军)中国总理温家宝3日在内比都与缅甸总理登盛举行会谈。温家宝表示，下阶段，双方要规划好合作重点领域和项目，加快推进基础设施互联互通，如期、保质建成双方已商定的能源、交通等大型项目。温家宝说，今年是中缅建交60年来，我带着中国人民对缅甸人民的友好情谊和推进两国关系的坚定意愿访</description>
    </item>
    <item>
      <title>哈尔滨从6月1日起免收婚姻登记工本费</title>
      <link>http://news.qq.com/a/20100603/001333.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:27:54</pubDate>
      <comments/>
      <description>6月1日上午，哈尔滨市民小杜和小翟在该市南岗区民政局登记结婚并领取了《结婚证》，他们的登记没花一分钱。从6月1日起，哈尔滨市有53项行政事业性收费停止征收，其中包括婚姻登记工本费。记者从哈尔滨市有关部门了解到，6月1日之前，哈市婚姻登记要收取结婚证、离婚证每对9元的工本费，婚姻登记处其他服务项目，如照相、复</description>
    </item>
    <item>
      <title>云南施甸地震致两万余间房屋受损1人轻伤</title>
      <link>http://news.qq.com/a/20100603/001305.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 13:16:33</pubDate>
      <comments/>
      <description>中新网昆明6月3日电(记者蒋晨)云南保山市官方3日通报，1日晚11时58分发生在该市施甸县老麦乡的4.5级地震，经初步统计造成全市两万余间房屋受损，1人受伤。记者从保山市政府办公室了解到，截至2010年6月2日15时10分，震区共发生余震124次，其中1.0至1.9级地震96次，2.0至2.9级地震18次，3.0至3.9级地震8次，最大余震为6月2</description>
    </item>
    <item>
      <title>香港水务署再接市民投诉 “问题水”疑云扩大</title>
      <link>http://news.qq.com/a/20100603/001298.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 12:57:19</pubDate>
      <comments/>
      <description>　　中新网6月3日电据香港星岛日报报道，香港“问题水”疑云不断扩大，水务署再接到40多名市民对水质进行查询及投诉，令总人数超过100名。出现“问题水”区域亦告增加，除九龙多区外，港岛亦有发现，水务署派员抽取食水样本化验，初步未发现有异样，食水仍适宜饮用。但一些居民仍担心饮下水后出现不适，暂改用蒸馏水。　　</description>
    </item>
    <item>
      <title>温家宝与缅甸总理举行会谈 中缅签署15项协议</title>
      <link>http://news.qq.com/a/20100603/001297.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 12:51:25</pubDate>
      <comments/>
      <description>国务院总理温家宝6月3日早上在内比都与缅甸总理登盛举行了会谈。会后，双方签署了涉及能源，贷款，交通，水电站，制造业，汽车组装等15项协议，其中包括东南亚原油管道有限公司股东协议和东南亚天然气管道有限公司股东协议等。温家宝原定今年四月访问缅甸，但由于玉树地震推迟了访问。登盛总理对中国政府在玉树地震期间快</description>
    </item>
    <item>
      <title>云南边防破获特大走私运输易制毒化学品案</title>
      <link>http://news.qq.com/a/20100603/001289.htm</link>
      <author>www.qq.com</author>
      <category/>
      <pubDate>2010-06-03 12:43:36</pubDate>
      <comments/>
      <description>新华网昆明6月3日电（谢根兴）云南普洱孟连公信边防派出所日前侦破一起特大走私运输易制毒化学品案，缴获易制毒化学原料醋酸干6．2吨和氢氧化钠5吨，抓获犯罪嫌疑人2名。6月1日凌晨3时35分，普洱边防支队公信边防派出所接到群众举报电话，称有一载货汽车准备从下公信渡口出境，车上可能装有大量的违禁物品。情况十分紧急，</description>
    </item>
  </channel>
</rss>
